.content-container {
    -fx-background-color: #323232;
}

.aside-container {
    -fx-background-color: #232323;
    -fx-font-size: 24px;
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-transition: -fx-background-color 0.3s;
}

.nav-btn:hover {
    -fx-text-fill: #0EB1D2;
}

.logout-btn {
    -fx-background-color: #0EB1D2;
    -fx-text-fill: white;
}

.searchbar {
    -fx-font-size: 20px;
    -fx-text-fill: #fff;
}

.book-pane {
    -fx-padding: 10px 20px;
    -fx-text-fill: #fff;
}

.book-pane-color {
    -fx-background-color: #232323;
}

.book-label {
    -fx-text-fill: #fff;
}

.count-label {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-padding: 10px 20px;
}

.borrow-btn {
    -fx-cursor: hand;
    -fx-background-color: #0EB1D2;
    -fx-text-fill: #fff;
}

.borrow-btn:hover {
    -fx-background-color: #1FC2E3;
}

.borrow-btn--inactive {
    -fx-background-color: #2B4141;
    -fx-cursor: none;
    -fx-text-fill: #fff;
}

.clear-btn {
    -fx-background-color: #2B4141;
    -fx-text-fill: #fff;
}

.clear-btn:hover {
    -fx-background-color: #3C5252;
}

.red {
    -fx-text-fill: red;
}

.green {
    -fx-text-fill: green;
}

.input {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-padding: 5px 10px;
    -fx-background-color: #232323;
}

.input-label {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
    -fx-padding: 5px 0;
}